*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(50, 52, 139, 0.74);
    margin: auto;
    width: 100vw;
    height: 100vh;
}
.inputs{
    margin: 10%;
    background-color: #13ffb085;
    border-radius: 10px;
    width: 80%;
    min-height: 170px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(172, 255, 47, 0.744);
}
.common{
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    height: 2.7rem;
    outline: none;
}
.common:hover{
background-color: rgba(50, 52, 139, 0.74);
}
button{
    background: linear-gradient(291deg, rgba(255, 255, 0, 0.21) 0%, rgba(0, 188, 212, 0.29) 28%, rgba(238, 130, 238, 0.39) 100%);
    border:none;
    border-radius: 7px;
    box-shadow: 2px 3px 5px 2px grey;
    cursor : pointer;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 1rem;
    }
button:hover{
    background-color: rgba(50, 52, 139, 0.74);
}
button:active{
    background-color: #fff;
        transform: translate(2px, 2px);
    }
    #table{
        margin-top: 20px;
    }
    #table{
        width:80%;
        margin-left: 10%;
        padding: 20px;
        border: 2px solid black;
    }
    #table tr th, #table td{
          
            margin-left: 10%;
            padding: 6px;
            border: 1px solid black;
         } 






         